.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 850px;
}

.post-card {
  margin: 25px 50px;
  width: 30rem;
}

.del {
  cursor: pointer;
}

.create-post {
  margin: 20px 0 20px 20px;
  width: 80%;
}

.spinner {
  margin: 10% 0;
}
